name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        build_type: [ Release, Debug ]
    
    runs-on: ${{matrix.os}}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    
    - name: Install Conan
      run: |
        pip install conan==2.*
    - name: Create Conan profile
      run: |
        conan profile detect --force
    
    - name: Configure Conan cache
      uses: actions/cache@v4
      with:
        path: ~/.conan2
        key: ${{ runner.os }}-conan-${{ hashFiles('conanfile.py') }}
        restore-keys: |
          ${{ runner.os }}-conan-
    
    - name: Install dependencies
      run: |
        if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          conan install . --output-folder=build --settings=build_type=${{ matrix.build_type }} --settings=compiler.cppstd=20 --build=missing
        else
          conan install . --output-folder=build --settings=build_type=${{ matrix.build_type }} --settings=compiler.cppstd=gnu20 --build=missing
        fi
    
    - name: Build
      run: |
        conan build . --output-folder=build --settings=build_type=${{ matrix.build_type }}
