name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        build_type: [ Release, Debug ]
    
    runs-on: ${{matrix.os}}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    
    - name: Install Conan
      shell: bash
      run: |
        pip install conan==2.*
        conan config install conan
        if [[ "${{ matrix.os }}" == "windows-latest" && "${{ matrix.build_type }}" == "Debug" ]]; then
          echo "PROFILE=win_debug" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "windows-latest" && "${{ matrix.build_type }}" == "Release" ]]; then
          echo "PROFILE=win_release" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "ubuntu-latest" && "${{ matrix.build_type }}" == "Debug" ]]; then
          echo "PROFILE=lin_debug" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "ubuntu-latest" && "${{ matrix.build_type }}" == "Release" ]]; then
          echo "PROFILE=lin_release" >> $GITHUB_ENV
        fi
    
    - name: Configure Conan cache
      uses: actions/cache@v4
      with:
        path: ~/.conan2
        key: ${{ runner.os }}-conan-${{ hashFiles('conanfile.py') }}
        restore-keys: |
          ${{ runner.os }}-conan-
    
    - name: Install dependencies
      shell: bash
      run: |
        conan install . -pr $PROFILE --build=missing -c tools.system.package_manager:sudo=True -c tools.system.package_manager:mode=install
    
    - name: Build
      shell: bash
      run: |
        conan build . -pr $PROFILE
